body {
    font-family: Arial;
    background: #121212;
    color: #fff;
    padding: 20px;
}

section {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

input,
button {
    padding: 8px;
    margin: 5px;
}